* {
    color: #34091B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #DED6D1;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #A39EE6;
}

h1 {
    padding-left: 15px;
}

li {
    list-style-type: none;
    font-size: 30px;
    display: inline;
    float: right;
    padding: 10px;
}

main {
    display: block;
    background-color: #ffb7c3;
    width: auto;
    height: auto;
}

.fox {
    display: block;
    padding-top: 50px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}

.hello {
    text-size-adjust: 20px;
    padding: 25px;
    text-align: center;
}

fieldset {
    border: 1px solid #373E40;
    width: 400px;
    margin:auto;
}

#email, #password {
    width: 200px;
    box-sizing: border-box;
    
}

#footer{
    text-align: center;
}

footer {
    display: block;
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: #A39EE6;
}
